@use 'src/styles/_vars';

#footer {
  width: 100%;
  height: vars.$header;

  .footer-elements {
    border-top: 1px solid black;
    display: flex;
    justify-content: space-around;
    padding: 2rem 0;
    align-items: center;

    .socials-link {
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        margin-left: 1rem;
        height: 30px;
      }
    }

    >a img {
      height: 100px;
      border-radius: 100%;
    }
  }

  .copyright {
    background-color: grey;
    text-align: center;
    padding: 1rem;

    p {
      margin-bottom: 1rem;
    }

    a {
      &:hover, &:focus {
        text-decoration: underline;
      }
    }
  }
}
