@use 'src/styles/_vars';

#header {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem 0;
  width: 100%;
  background-color: vars.$secondColor;
  flex-direction: column;

  @media (min-width: vars.$medium) {
    padding: 1rem 1rem 0;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 159;
  }

  @media (min-width: vars.$large) {
    padding: 0.5rem 1rem;
    justify-content: space-between;
    flex-direction: row;
  }

  img {
    height: 120px;
    border-radius: 100%;
    margin-bottom: 1rem;

    @media (min-width: vars.$medium) {
      height: 90px;
    }

    @media (min-width: vars.$large) {
      margin-bottom: unset;
    }
  }

  p {
    margin-bottom: 2rem;

    @media (min-width: vars.$large) {
      margin-bottom: unset;
    }
  }

  .nav-big {
    @media (max-width: vars.$large) {
      display: none;
    }

    display: flex;
    justify-content: space-evenly;
    min-width: 50%;

    a {
      color: black;
      text-transform: uppercase;
      font-size: 20px;
      margin-left: 1.5rem;
      
      @media (min-width: vars.$big) {
        margin-left: 1rem;
      }

      &:hover, &:focus {
        text-decoration: underline;
      }

      &:active {
        color: vars.$mainColor;
      }

      &.active {
        color: vars.$mainColor;
        font-weight: bold;
      }
    }
  }

  .container-small {
    @media (min-width: vars.$large) {
      display: none;
    }

    .nav-small {
      display: flex;
      flex-direction: column;
      text-align: center;

      a {
        color: black;
        text-transform: uppercase;
        margin-bottom: 1.5rem;
        font-size: 18px;
        transition: all 0.5s linear;
        font-weight: 600;

        &:first-child {
          margin-top: 1rem;
        }

        &:hover, &:focus {
          text-decoration: underline;
        }
  
        &:active {
          color: vars.$mainColor;
        }
  
        &.active {
          color: vars.$mainColor;
          font-weight: bold;
        }
      }

      &.close-nav {
        margin: 0;

        a {
          font-size: 0;
          margin-bottom: 0;
          transition: all 0.5s linear;

          &:first-child {
            margin-top: 0;
          }
        }
      }
    }
    
    .menu {
      &.open-menu {
        margin: 1rem auto;
        background-color: unset;
        border: unset;
  
        &:hover, &:focus {
          cursor: pointer;
          
          .bar {
            background-color: vars.$mainColor;
          }
        }
  
        .bar {
          margin: 0 auto 0.5rem;
          height: 5px;
          width: 60px;
          background-color: black;
          transition: all 0.3s linear;
        }
      }
  
      &.close-menu {
        margin: 0.5rem auto 1rem;
        background-color: unset;
        border: unset;
  
        &:hover, &:focus {
          cursor: pointer;
          
          .bar {
            background-color: vars.$mainColor;
          }
        }
  
        .bar {
          margin: 0 auto 0.5rem;
          height: 6px;
          width: 60px;
          background-color: black;
          transition: all 0.3s linear;
  
          &.first-bar {
            transform: rotate(45deg) translate(11px, 10px) scale(0.6);
          }
  
          &.second-bar {
            background-color: unset;
          }
  
          &.third-bar {
            transform: rotate(-45deg) translateX(9px) translateY(-9px) scale(0.6);
          }
        }
      }
    }
  }
}
