// == Screen sizes
$small: 440px; // vars.$small;
$medium: 720px; // vars.$medium;
$inter: 900px; // vars.$inter;
$large: 1080px; // vars.$large;
$big: 1300px; // vars.$big;
$extreme: 1600px; // vars.$extreme;

// == Fonts
$nunito: 'Nunito', sans-serif; // vars.$nunito;

// == Sizes

$header: 150px; // vars.$header

// == Colors

$mainColor: rgb(158, 84, 84); // vars.$mainColor;
$secondColor: grey; // vars.$secondColor;

$blurMainColor: rgba(158, 84, 84, 0.4); // vars.$blurMainColor;
$blurSecondColor: rgba(128, 128, 128, 0.4); // vars.$blurSecondColor;
